---
import CartBtn from "./CartBtn.astro";

interface Props {
  titleName: string;
  contentText: string;
  bgColor: string;
  btnText: string;
  link: string;
}

const {titleName} = Astro.props;
const {contentText} = Astro.props;
const {bgColor} = Astro.props;
const {btnText} = Astro.props;
const {link} = Astro.props;
---

<div
      class={`h-3/6 ${bgColor} rounded-xl p-4 regular:max-w-72 flex flex-col justify-between sm:p-5 gap-y-2`}
    >
      <h3
        class="
        text-3xl font-bold tracking-tighter text-main/95
        xs:pb-0 xs:text-lg
        fixed:text-3xl"
      >
        {titleName}
      </h3>
      <p
        class="text-main/60 text-xs
          xs:text-xs xs:leading-4 xs:tracking-tight
          sm:text-sm sm:leading-5"
      >
        {contentText}
      </p>

      <CartBtn text={btnText} anchor={link} />

</div>