---
import Heading from '../components/Heading.astro';
import Arrow from '../components/icons/Arrow.astro';

const sms = 'https://wa.link/cm77za'

const PRODUCTS = [
  {
    link: `${sms}`,
    image: "p1.webp",
    title: "Postre de chocolate con chispas",
    description:
      "Delicioso postre elaborado con chocolate suave y chispas crujientes, combinando una textura cremosa con un sabor intenso que encanta a los amantes del cacao.",
  },
  {
    link: `${sms}`,
    image: "p2.webp",
    title: "Postre de brownie con dulce de leche",
    description:
      "Exquisito postre de brownie húmedo acompañado de dulce de leche cremoso, logrando una mezcla equilibrada entre intensidad, dulzura y una textura irresistible.",
  },
  {
    link: `${sms}`,
    image: "p3.webp",
    title: "Postre de fresa con crema & galleta",
    description:
      "Fresco postre de fresas naturales con crema suave y galleta crujiente, ofreciendo una combinación ligera, equilibrada y llena de sabor en cada bocado.",
  },
  {
    link: `${sms}`,
    image: "p4.webp",
    title: "Postre de Choco Oreo & dulce de leche",
    description:
      "Intenso postre de chocolate con trozos de Oreo y dulce de leche cremoso, fusionando sabores profundos con una textura suave y deliciosamente indulgente.",
  },
  {
    link: `${sms}`,
    image: "p5.webp",
    title: "Postre de Limon con galleta & crema",
    description:
      "Refrescante postre de limón con crema delicada y galleta crujiente, logrando un balance perfecto entre acidez, suavidad y una textura agradable y ligera que abraza el paladar.",
  },
];
---

<section class="relative w-full overflow-visible" id="products">
  <Heading content="Postres" className="pt-8 pb-1 pl-2"/>
  <div
    id="product-slider"
    class="
      flex gap-4 sm:gap-5 pb-4 sm:pb-12 px-1
      cursor-w-resize active:cursor-grabbing select-none no-scrollbar overflow-x-scroll scroll-smooth
      sm:mask-[linear-gradient(to_right,transparent,black_0%,black_90%,transparent)] sm:[-webkit-mask-image:linear-gradient(to_right,transparent,black_0%,black_90%,transparent)] 
      mask-[linear-gradient(to_right,transparent,black_0%,black_97%,transparent)] [-webkit-mask-image:linear-gradient(to_right,transparent,black_0%,black_97%,transparent)]
    "
  >
    {PRODUCTS.map(({ title, description, image, link }) => (
      <article class="bg-white/70 block max-w-2xs min-w-2xs xs:max-w-xs xs:min-w-xs sm:max-w-sm sm:min-w-sm shrink-0 p-4 xs:px-6 xs:py-6 rounded-2xl shadow-lg">
        <img
          src={image}
          alt={title}
          class="rounded-lg xs:rounded-xl w-full h-64 object-cover"
          draggable="false"
        />

        <h5 class="mt-4 mb-3 text-2xl font-semibold tracking-tight text-primary leading-7">
          {title}
        </h5>

        <p class="mb-4 text-main/70">
          {description}
        </p>

        <a href={link}
          class="inline-flex items-center text-main bg-icon hover:bg-main hover:text-icon
                shadow-sm font-medium
                tracking-tight leading-5 rounded-lg text-sm px-4 py-2.5"
        >
          Reserva
          <Arrow class="size-4 ms-1.5" />
        </a>
      </article>
    ))}
  </div>
</section>

<script>
  const slider = document.getElementById("product-slider")

  if (slider) {
    let isDown = false
    let startX = 0
    let scrollLeft = 0

    slider.addEventListener("mousedown", (e) => {
      isDown = true
      startX = e.pageX - slider.offsetLeft
      scrollLeft = slider.scrollLeft
    })

    slider.addEventListener("mouseleave", () => {
      isDown = false
    })

    slider.addEventListener("mouseup", () => {
      isDown = false
    })

    slider.addEventListener("mousemove", (e) => {
      if (!isDown) return
      e.preventDefault()
      const x = e.pageX - slider.offsetLeft
      const walk = (x - startX) * 1.5
      slider.scrollLeft = scrollLeft - walk
    })
  }
</script>
